
html {
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #f4fbff;
  text-align: left;
}

.bottom {
  margin-top: 120px;
}

.card {
  border-radius: 15px;
  padding: 25px 15px;
  background-color: #0A2647;
  margin: 50px 0 0 20px;
  box-shadow: 0 2px 5px rgb(0, 0, 0);
  min-width: 400px;
  max-width: 450px;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.enedis {
  background-color: #0A2647;
  border-radius: 15px;
  box-shadow: 0 0 15px rgb(32, 164, 194);
  padding: 10px;
  text-align: center;
}

header {
  background-color: #0A2647;
  border-bottom-right-radius: 40%;
  margin-top: 2%;
  z-index: 1;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #C58940;
  font-family: "Arvo", cursive;
  font-weight: 500;
}

h2 {
  color: #fff;
  font-family: "Arvo", cursive;
  font-weight: 200;
}

h3 {
  color: #fff;
  font-family: "Arvo", cursive;
  font-weight: 200;
}

.logo {
  position: fixed;
  margin-top: 30%;
  margin-left: 78%;
  width: 200px;
  z-index: 1;
}

.main {
  display: flex;
  flex-wrap: wrap;
}


.name {
  font-size: 2em;
  color: #fff;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.info {
  margin: 7px 0;
  color: #1a7e76;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #1A0000;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}